# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# UV Virtual Environment
/.venv

# VS Code
/.vscode

# OS Files
.DS_Store
Thumbs.db

# logging
/logs

#Downloaded GTFS data
/gtfs_static

#env
.env

.clj-kondo/

.lsp/

.pytest_cache/

.ruff_cache/
mynotes.md
